body{
    margin: 0;
    font-family: sans-serif;
}

.headblock{
    background-color:#1F2937;
    height: 550px;
}

.top-panel{
    height: 50px;
    background-color:#1F2937;
    margin:0;
}

.top-panel h2{

    margin:0;
    padding: 10px;
    color:#f9faf8;
    font-size: 24px;
    font-weight:900;
}

.test{
    margin: 0;
}

.test h2{
    margin: 0;
    color:aqua;
}

.neckblock {
    background-color: white;
    height: 500px;
}

.torsoblock {
    background-color: #e5e7eb;
    height: 450px;
}

.legblock {
    background-color: white;
    height: 350px;
}

.toesblock {
    background-color: #1F2937;
    height: 50px;
}